.navbar-nav.navbar-center{
    position: absolute;
    left: 40%;
    transform: translatex(-50%);
}
.navbar.navbar-expand-lg.navbar-light{
    background-color: black;
}
.nav-item.active > .nav-link{
    color: #B4FF00 !important;
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    border-bottom-style: solid; 
    border-bottom-width: 5px;   
}
.nav-item > .nav-link{
    color: white !important;
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;       
}
.language-selector{
    right: 15%;
    position: absolute;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif; 
    font-size: 22px;
    
}
.nav-item.language-selector{    
    font-weight: bold;
    font-family: 'Montserrat', sans-serif; 
    font-size: 22px;
}
.lang-divider{
    color: #858585;
}
.lang{
    color: #858585;
}
.lang-selected{
    color: white;
}
.text-container{    
    color: white;
    font-family: 'Montserrat', sans-serif;
    position: absolute; 
    top: 448px;
    left: 252px;
}
.headline{
    font-size: 100px;
    font-weight: bolder;
}
.text-divider{
    color: #B4FF00;
    font-weight: bolder;
    font-size: 100px;
    position: absolute;
    top: 15px;
    left: 9px;
}
.main-text{
    font-size: 30px;
    font-weight: bolder;
}
.search-form{
    background-color: white;
}
.navbar-toggler-icon{
    background-color: black;
}
.navbar-toggler{
    color: white;
}
.btn.btn-indigo.btn-rounded.btn-sm.my-0.waves-effect.waves-light{
    background-color: #4B00FF;
    color:white;
    font-size: 32px;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    border-radius: 25px;
}